*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #005556;
    display: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #F9F871;
}
.nav-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 60px;
    background-color: #A3F5F5;
}
/* .nav-bg .logo{
    line-height: 60px;
} */
input{
    display: none;
}
.nav-bar-icon{
    font-size: 30px;
    line-height: 60px;
}
.nav-bg ul{
    display: flex;
    transition: 0.5s;
}
.nav-bg ul li a{
    line-height: 50px;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav-bg ul li a:hover{
    background-color: #F9F871;
}
.nav-bar-icon{
    cursor: pointer;
    margin: auto 0;
    line-height: 60px;
} 

.nav-bar-icon .bar{
    display: none;
    margin: 6px;
    background-color: #005556;
    width: 30px;
    height: 5px;
}

@media screen and (max-width:730px) {
    .nav-bar-icon .bar{
        display: block;
        transition: .5s;
    }
    .nav-bg{
        padding: 0 30px;
    }
    .nav-bg ul{
        position: fixed;
        flex-direction: column;
        top: 60px;
        right: -100%;
        width: 50%;
        text-align: center;
        background-color: #A3F5F5;
        border-bottom-left-radius: 6px;
        transition: all .5s ease-in;
    }
    #checkbox:checked ~ ul{
        right: 0;
        transition: all .5s;
    }
    #checkbox:checked ~ label .bar:nth-child(2){
        opacity: 0;
    }
    #checkbox:checked ~ label .bar:nth-child(1){
        transform: translateY(10px) rotate(45deg);
        transition: .5s;
        cursor: pointer;
    }
    #checkbox:checked ~ label .bar:nth-child(3){
        transform: translateY(-11px) rotate(-45deg);
        transition: .5s;
        cursor: pointer;
    }
}